# text editors
*.swp
*.swo
*~

# python
__pycache__
*.pyc
*.pyo
*.egg-info
.eggs
build/
dist/
tags
.venv

# kiskadee
kiskadee.log
kiskadee/tests/test_source/Sources
reports

# documentation
doc/_build
